name = "lapce-rust"
version = "0.2.2"
author = "Lapce"
display-name = "Rust"
description = "Rust for Lapce: powered by Rust Analyzer"
wasm = "lapce-rust.wasm"

[activation]
language = ["rust"]
workspace-contains = ["*/Cargo.toml"]

[config."serverPath"]
default = ""
description = "Path to rust-analyzer executable. When empty, it points to the bundled binary."

[config."diagnostics.enable"]
default = true
description = "Whether to show native rust-analyzer diagnostics."

[config."diagnostics.experimental.enable"]
default = true
description = "Whether to show native rust-analyzer diagnostics."

[config."checkOnSave.command"]
default = "check"
description = "Cargo command to use for `cargo check`."
